.token {
   @include adaptiveValue("padding-top", 78, 39);
   @include adaptiveValue("padding-bottom", 104, 48);
   background: url("@img/token/bg.svg") 0 0 / cover no-repeat;
   position: relative;
   overflow: hidden;
   &__decor {
      position: absolute;
      transition: transform 0.5s linear;
      pointer-events: none;
      &_1 {
         top: -40px;
         left: 5%;
      }
      &_2 {
         top: 30%;
         left: 15%;
      }
      &_3 {
         top: 30px;
         left: 35%;
      }
      &_4 {
         top: 70%;
         left: 78%;
      }
      &_5 {
         top: -1%;
         left: 85%;
      }
      &_6 {
         top: 60%;
         right: 40px;
      }
      &_7 {
         top: 0;
         right: 0;
      }
      @media (max-width: $mobileSmall) {
         display: none;
      }
   }
   // .token__container
   &__container {
      position: relative;
      z-index: 2;
   }
   // .token__title
   &__title {
      color: #fff;
      &:not(:last-child) {
         margin-bottom: rem(30);
         @media (max-width: $mobileSmall) {
            margin-bottom: rem(20);
         }
      }
   }
   // .token__row
   &__row {
      display: flex;
      gap: rem(61);
      @media (max-width: em(1100)) {
         gap: rem(30);
      }
      @media (max-width: $tablet) {
         display: block;
      }
   }
   // .token__left
   &__left {
      flex: 1 1 auto;
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(80);
         }
      }
   }
   // .token__grid
   &__grid {
      display: flex;
      gap: rem(20);
      align-items: flex-start;
      justify-content: space-between;
      padding-top: rem(73);
      @media (max-width: $tablet) {
         padding-top: 0;
         justify-content: center;
      }
      @media (max-width: em(650)) {
         flex-direction: column;
         gap: rem(0);
         align-items: center;
      }
   }
   // .token__item
   &__item {
      max-width: rem(272);
   }
   // .token__right
   &__right {
      max-width: rem(120);
      @media (max-width: $tablet) {
         max-width: 100%;
      }
   }
   // .token__flex
   &__flex {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      @media (max-width: $tablet) {
         flex-direction: row;
         align-items: flex-start;
         gap: rem(24);
         justify-content: center;
      }
      @media (max-width: em(700)) {
         flex-wrap: wrap;
         justify-content: space-between;
         gap: rem(12);
      }
   }
   // .token__top-text
   &__top-text {
      color: #fff;
      font-weight: 700;
      text-align: center;
      font-size: rem(14);
      line-height: 165.84%;
      @media (max-width: $tablet) {
         top: -5px;
         position: relative;
      }
      @media (max-width: em(700)) {
         order: -1;
      }
      @media (max-width: $mobileSmall) {
         max-width: rem(90);
         &:first-child {
            text-align: left;
         }
         &:last-child {
            text-align: right;
         }
      }
   }
   // .token__diagram
   &__diagram {
      display: flex;
      align-items: center;
      gap: rem(10);
      padding-left: rem(43);
      justify-content: center;
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: rem(18);
         padding-left: 0;
      }
      @media (max-width: em(700)) {
         flex: 0 0 100%;
         order: 3;
         gap: rem(10);
      }
   }
   // .token__diagram-line
   &__diagram-line {
      height: rem(341);
      flex-shrink: 0;
      width: rem(13);
      background: linear-gradient(180deg, #c7a15b 71.34%, #c75b5b 71.35%);
      @media (max-width: $tablet) {
         width: rem(341);
         background: linear-gradient(90deg, #c7a15b 71.34%, #c75b5b 71.35%);
         height: 13px;
      }
      @media (max-width: em(700)) {
         width: 100%;
      }
   }
   // .token__diagram-text
   &__diagram-text {
      font-weight: 700;
      line-height: 165.84%;
      font-size: rem(20);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-align: center;
      color: rgba(255, 255, 255, 0.68);
      @media (max-width: $tablet) {
         text-orientation: normal;
         text-align: center;
         writing-mode: inherit;
      }
   }
}

.item-token {
   position: relative;
   @media (max-width: em(650)) {
      text-align: center;
      max-width: rem(300);
   }
   &:first-child {
      align-self: flex-end;
      padding-top: rem(180);
      z-index: 2;
      @media (max-width: $tablet) {
         max-width: rem(272);
         padding-top: rem(370);
      }
      @media (max-width: $mobile) {
         padding-top: rem(390);
      }
      @media (max-width: em(650)) {
         padding-top: 0;
         align-self: center;
         &:not(:last-child) {
            margin-bottom: rem(121);
         }
      }
   }
   &:last-child {
      max-width: rem(237);
      @media (max-width: $tablet) {
         max-width: rem(200);
         margin-left: rem(30);
      }
      @media (max-width: em(650)) {
         margin-left: 0;
      }
      .item-token__head {
         color: #c75b5b;
      }
   }

   // .item-token_center
   &_center {
      margin-top: rem(106);
      max-width: rem(195);
      @media (max-width: $tablet) {
         margin-top: rem(176);
         margin-left: rem(-60);
      }
      @media (max-width: em(650)) {
         margin-left: 0;
         margin-top: 0;
         margin-bottom: rem(93);
      }
      .item-token__head {
         text-align: center;
         @media (max-width: em(650)) {
            font-size: rem(14);
            max-width: rem(108);
         }
      }
   }
   // .item-token__head
   &__head {
      font-weight: 700;
      font-size: rem(24);
      line-height: 165.84%;
      color: #c7a15b;
      @media (max-width: $mobileSmall) {
         font-size: rem(18);
      }
      &:not(:last-child) {
         margin-bottom: rem(10);
         @media (max-width: $tablet) {
            margin-bottom: rem(5);
         }
      }
   }
   // .item-token__descr
   &__descr {
      font-size: rem(14);
      color: #fff;
      line-height: 165.84%;
   }
   // .item-token__image
   &__image {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: em(650)) {
         width: rem(357);
         img {
            max-width: 100%;
         }
      }
   }
}
